/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  margin: 3% 10%;
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-bottom: 0.5rem;
}

.bordered {
  border: 2px solid gray;
}

.single-user {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.user-name {
  margin: 15px;
}

.counter {
  float: right;
  bottom: 0%;
  right: 20px;
}

.btn {
  font-size: 14px;
  text-align: center;
}

.see-all {
  padding: 10px;
  font-size: 17px;
}
